.nav-div{
      
    padding:10px;
}
 
.nav-bar ul{
    height:30px;
}
.nav-bar ul li{
    display:inline;
}
ul{
   margin-top:0;
    margin-bottom:0;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.nav-logo-shortli
{
font-family:cursive;
font-size:30px; 
float:left;
color:#098ac7;
font-weight:900;
}
.nav-button
{
    margin-right:10%;
    float:right;
    padding:0px;
}
.nav-coffee-button{
    border:none;
    border-radius:5px;
    height:40px;
    background:none;
    text-align:center;
    background-color:#b5dbe6;
    color:#098ac7;
    outline:none;
    padding-right:20px;
     padding-left:20px;
     margin-left:20px;

    font-weight:bold;
}
.nav-coffee-button:hover
{
     background-color:#098ac7;
    color:#b5dbe6
}
.nav-button-feature
{
    background:none;
    border:none;
    text-align:center;
    width:100px;
    height:30px;
}