 .loader{
   height:420px;
   width:420px;
   margin:0 auto;
   margin-top:10%; 
    background: #b2d7e1;
   border-radius:200px;
   display: flex;
   justify-content: center;
   align-items: center;  
 }
 .loading-text{
   font-size:100px;
   color:#3dbcd9 ;  
 }
.card-div{
  margin:0 auto;
  height:  auto;
} 
.svg-img-div
{
   margin:auto;
    margin-top:3%;
   height:300px;
   width:300px;
  
}  
.img-div{

  height: auto;
  width:300px;
}
.Linkimg{
  height:30px;

}
.heading-div
{ text-align:center;
  margin:0 auto;
 font-size:25px;
 
}
h1{
margin-top:0;
margin-bottom:0;
}
.heading-statement
{
 font-weight:bold; 
 color:#098ac7;
  font-size:15px;

}
.input-field
{
 
}
.url-shorten-button
{
    margin-top:3%;
    border:none;
    height:40px;
    background:none;
    text-align:center;
    background-color:   #3dbcd9   ;
    color: white ;
    padding-right:20px;
    padding-left:20px;
    font-weight:bold;
    font-size:15px;
    border-radius:5px;
     outline:none;
}
.url-shorten-button:hover
{
  font-size:20px;
}
.input-url{
  color: #098ac7;
  border:none;
  outline:none;
  height:40px;
  background:#ebe7e7;
  width:300px;text-align:center;  
  border-radius:5px;
  font-size:15px;
    font-weight:bold; 
}
.shorturl{
  margin-right:0;
     width:340px;
     margin-bottom:10%;
}
h6{
  margin-bottom:0;
}